

header{
    background-color: rgb(14, 142, 63);
}


main{
    background-color: rgb(188, 217, 173);
    padding-left: 20px;
    padding-top: 20px;
    
}



section{
    padding-bottom: 20px;
}

footer{
    background-color: rgb(14, 142, 63);
}